/* Large desktop */
@media (min-width: 1200px) {
  
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  
}
 
/* Landscape phones and down */
@media (max-width: 480px) {

}

/* Center list */
ul.center-list {
    float: none !important;
    text-align: center;
}

ul.center-list > li {
    float: none !important;
    display: inline-block;
}

ul.center-list > li:first-child {
  margin-left: 0;
}

/* Temp solution for images */
.fixed-size {
  height: 150px;
  /*width: 200px;*/
}

.score-1 {
  font-size: 1.5em;
}

.score-2 {
  font-size: 1.3em;
}

.score-3 {
  font-size: 1.1em;
}

.score img {
  height: 50px;
  margin: 0 auto;
}

.score-1 img {
  height: 150px;
}

.score-2 img {
  height: 130px;
}

.score-3 img {
  height: 110px;
}

.delete,
.rating, 
.wins, 
.losses {
  display: block;
  text-align: center;
  font-size: 0.9em;
}

.rating {
  font-weight: bold;
}

footer {
  margin-top: 20px;
  padding: 5px;
  border-top: 1px solid #aaa;
  color: #aaa;
}
