/* Large desktop */
@media (min-width: 1200px) {
  
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  
}
 
/* Landscape phones and down */
@media (max-width: 480px) {

}

/* Center navbar links */
.navbar .nav {
    float: none;
    text-align: center;
}

.navbar .nav > li {
    float: none;
    display: inline-block;
}

.message {
  display: block;
  padding: 5px;
  width: 50%;
  margin: 0 auto;
  font-weight: bold;
  font-size: 0.85em;
  border-width: 2px;
  border-style: solid;
}

.message .close {
  float: right;
  font-size: 0.9em;
  font-weight: normal;
  color: #aaa;
  cursor: pointer;
}

.message.neutral {
  border-color: #aaa;
  background: #eee;
}

.message.good {
  border-color: #00cc00;
  background: #ccffcc;
}

.message.warning {
  border-color: #ff6666;
  background: #ffcccc;
}

.nav {
  margin: 1em 0;
}

.images {
  background: url('layout/images-bg.png') no-repeat center center;
}

.images .region {
  padding: 25px 0;
}

.img {
  display: inline-block;
  height: 150px;
  width: 40%;
}

.img img {
  border: 1px solid #aaa;
  height: 150px;
}

.img.first {
  margin-right: 8px;
}

.img.first img {
  float: right;
}

.img.first:hover,
.img.first img:hover {
  background: url('layout/vote-this-first-bg.png') no-repeat left center;
}

.img.last {
  margin-left: 8px;
}

.img.last img {
  float: left;
}

.img.last:hover,
.img.last img:hover {
  background: url('layout/vote-this-last-bg.png') no-repeat right center;
}

div.scores {
  clear: both;
  margin: 20px 0 0 0;
  overflow: hidden;
  text-align: center;
  padding: 5px;
}

ul.scores {
  float: left;
  position: relative;
  left: 50%;
  list-style: none;
  margin: auto;
  padding: 0px;
}

.score {
  display: inline-block;
  position: relative;
  left: -50%;
  padding: 5px;
  border: 1px solid #aaa;
  background: #eee;
}

.score-1 {
  font-size: 1.5em;
}

.score-2 {
  font-size: 1.3em;
}

.score-3 {
  font-size: 1.1em;
}

.score-break {
  display: block;
  border: 0;
  background: none;
}

.score img {
  height: 50px;
  margin: 0 auto;
}

.score-1 img {
  height: 150px;
}

.score-2 img {
  height: 130px;
}

.score-3 img {
  height: 110px;
}



.delete,
.rating, 
.wins, 
.losses {
  display: block;
  text-align: center;
  font-size: 0.9em;
}

.rating {
  font-weight: bold;
}

.footer {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  padding: 5px;
  border-top: 1px solid #aaa;
  border-bottom: 1px oslid #aaa;
  text-align: center;
  font-size: 0.8em;
  color: #aaa;
}
